<h2 class="mat-display-3">Spring Boot JWT Security Frontend</h2>

<div>
    <p>
        Welcome to user account manager frontend. This frontend help you to manange the users accounts of a Spring Boot microservice, build with JWT and Outh2 security.
    </p>
    <p>
        <button
            mat-raised-button
            matTooltip="Click to login"
            matTooltipShowDelay="500"
            matTooltipHideDelay="1000"
            (click)="openLoginDialog()">Sign in for more experience
        </button>
    </p>
</div>